<div class="flexbox-exterior-container">
    <div class="flexbox-responsive-interior-container">
        <div class="text-align-center">
            <p class="color_naranja">Introduzca su email y le enviaremos un correo con instrucciones para reestablecer la contraseña</p>       
        </div>
        <form [formGroup]="controlsGroup">
            <mat-form-field>
                <input matInput placeholder="email@email.com" [formControl]="username" name="username">
                  <mat-error *ngIf="username.hasError('required')">
                    Introduzca un email.
                  </mat-error>
                  <mat-error *ngIf="username.hasError('email')">
                    El formato del email no es correcto.
                  </mat-error>
                </mat-form-field>
                <div class="text-align-center">
                    <button  matTooltip="Enviar email" mat-raised-button [disabled]="!controlsGroup.valid" (click)="send()">Enviar</button>
                </div>
            </form>    
        @if (componentMessages.length > 0){
            <app-component-message [componentMessages]="componentMessages"></app-component-message>
        } 
    </div>
</div>
