.flex_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.logo_app{
    width: 100px;
    height: auto;
}

.margin_left_30px{
    margin-left: 30px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
  }