<div class="contenedor"> 
    <app-header></app-header>

    <div class="body">
        <div class="principal">
          <div class="contenido-pair">
            <h2>Recolección</h2>
            <img src="images/recoleccion.jpg" alt="Imagen de recolección">
          </div>
          <div class="contenido-pair">
            <h2>-> Título -></h2>
            <span></span>
          </div>
          <div class="contenido-pair">
            <h2>Regulación</h2>
            <img src="images/regulacion.png" alt="Imagen de regularización">
          </div>
        </div>
        <div class="contenido">
          <p>Esta web permite visualizar y descarar los datos de campo 
            recogidos con la 
            <a routerLinkActive="mat-accent" routerLink="/mobile_app">app </a> 
            de toma de datos en campo
            con el objetivo de que sirva de ayuda para la ayuda a la
            regularización de tierras en Colombia:</p>
          <ul>
            <li>Muestra datos alfanuméricos sobre los predios.</li>
            <li>Muestra la geometría de los predios sobre un mapa.</li>
            <li>Muestra imágenes recogidas con la app sobre documentos o elementos del predio</li>
            <li>Permite a los propietarios visualizar y compartir la información recogida.</li>
            <li>Los datos se pueden enviar a los técnicos especialistas cuando se tiene internet</li>
          </ul>
        </div>

        <img class="width100" src="images/esquemaSistema.png" alt="Esquema del sistema">
        
    </div>
  </div>

<app-footer></app-footer>
