<app-header></app-header>

<div class="flexbox-exterior-container">
    <div class="flexbox-responsive-interior-container-with100-900 flexbox-align-center">
        <h5 >Listado de todos los predios</h5>
    </div>
    <div class="flexbox-responsive-interior-container-with100-900">
        @if (baunitModels.length > 0){
            @for (baunit of baunitModels;track $index){
                <app-baunit [baunit]="baunit"></app-baunit>
                <hr>
            }
        }@else {
            <div class="flexbox-align-center">
                <h6>No hay predios subidos por usted</h6>
            </div>
        }
    </div>
</div>
<app-footer></app-footer>
