

<app-header></app-header>

<div class="contenedor">
    <div class="contenedor_interior">
        <div class="body">
            <div class="contenido">
                <h6>Autores:</h6>
                <ul>
                <li>Carmen Femenia Ribera <a href="https://ccasat.webs.upv.es/" target="_blank">(CCASAT)</a>. Directora del proyecto MetaTierras(cfemenia&#64;upv.es).</li>
                <li>Diego Terevinto Charquero <a href="https://upv.es/" target="_blank">(CCASAT)</a>. Desarrollador de la app (diegoterevinto&#64;gmail.com).</li>
                <li>Gaspar Mora Navarro <a href="https://ccasat.webs.upv.es/" target="_blank">(CCASAT)</a>. Desarrollador de la app, la API de gestión de datos, y la web. También diseñador de la solución (joamona&#64;upv.es).</li>
                <li>Maria Isabel Fernández Rodas <a href="https://www.forjandofuturos.org/" target="_blank">(FFF)</a>. Diseñadora de la aplicación (topografa167&#64;gmail.com).</li>
                </ul>
            </div>
            </div>
    </div>
  </div>
  

<app-footer></app-footer>