form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

input, select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: fit-content;
  background: #1976d2;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #1565c0;
}

.actions {
  display: flex;
  gap: 8px;
  button {
    width: fit-content;
    background: #1976d2;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
  }
}

.coordinates-btn {
  background: #117c08;
}

.coordinates-btn:hover {
  background: #117c08;
}

.container-coordinates-manual {
  display: flex;
  gap: 8px;
}

#btn-delete {
  background: #e40707;
}